<div class='container'>
  <div class='board is-flex is-justify-content-center'>
    <a href='/dashboard/bucketlist'>
      <button class='btn-nav' id='bucketlist'><i
          class='icon-bitbucket pr-2'
        ></i>
        Bucketlist
      </button>
    </a>
    <a href='/dashboard/traveling'>
      <button class='btn-nav' id='visiting'><i
          class='icon-plane icon-large pr-2'
        ></i>
        Traveling
      </button>
    </a>
    <a href='/dashboard/food'><button class='block btn-nav' id='visited'><i
          class='icon-food pr-2'
        ></i>
         Food
      </button>
    </a>
    <a href='/dashboard/lifestyle'><button
        class='block btn-nav'
        id='dashboard'
      ><i class='icon-shopping-cart'></i>
         Lifestyle
      </button></a>
  </div>

  {{! <div>
    <a href="/dashboard/new">➕ New Post</a>
  </div> }}
  {{!-- <div>
    {{#each places}}
    
      <div>
        City
        {{city}}
      </div>
    {{/each}}
  </div> --}}
  {{!-- <div class="posts list-group">
    {{#each posts}}
    <a class="list-item flex-row justify-space-between" href="/dashboard/edit/{{id}}">
        <span>{{title}}</span>
        {{!-- <span>{{format_date createdAt}}</span> --}}
  {{! </a> }}
  {{!-- {{/each}}
</div> --}}

  <div class='posts list-group'>
    <span>{{lifestyle_post.title}}</span>
    <span>{{lifestyle_post.author}}</span>
    <a
      class='list-item flex-row justify-space-between'
      href='/dashboard/lifestyle/edit/{{lifestyle_post.id}}'
    >

      <div>{{lifestyle_post.body}}</div>
    </a>
  </div>

  <div class='posts list-group'>
    <span>{{traveling_post.title}}</span>
    <span>{{traveling_post.author}}</span>
    <a
      class='list-item flex-row justify-space-between'
      href='/dashboard/lifestyle/edit/{{traveling_post.id}}'
    >

      <div>{{traveling_post.body}}</div>
    </a>
  </div>
</div>