<div>
  <a href="/dashboard/bucketlist/new"><i class='icon-plus pr-2'></i> New Post</a>
</div>
<div class="posts list-group">
    {{#each traveling_posts}}
  <a class="list-item flex-row justify-space-between" href="/dashboard//edit/{{posts.id}}">
    <span>{{title}}</span>
    <span>{{author}}</span>
    <div>{{body}}</div>
  </a>
  {{/each}}
</div>

{{!-- <div>
  <a href="/dashboard/traveling/new">➕ New Post</a>
</div>
<div class="posts list-group">
    <span>{{traveling_posts.title}}</span>
    <span>{{traveling_posts.author}}</span>
  <a class="list-item flex-row justify-space-between" href="/dashboard/lifestyle/edit/{{traveling_post.id}}">
    
    <div>{{traveling_posts.body}}</div>
  </a>
</div> --}}